.card{
    width: 18rem;
    box-shadow: 0 12px 24px #104C8B29;
    border: 0;
    border-radius: 24px;
}
.grey-text{
    color: #959595;
}
.border-top{
    border-top: 1px solid #959595;
}
.font-20{
    font-size: 20px;
}