.custom-btn{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #1572D31A;
    border: 1px solid #1572d31a;
    color: #0b5ed7;
}

.highlight-text{
    background-color: #1572D31A;
    border: 1px solid #1572d31a;
    border-radius: 8px;

}

.position-fixed{
    z-index: 9;
}

.erro-img{
    width: 350px;
    height: auto;
}