
<div class="d-flex mt-4 mx-5">
    <a  [routerLink]="''">Home</a> <span class="mx-2" > / cars</span>
</div>

<ng-container *ngIf="paginatedList.length>0">
    <div class="mx-auto mb-5 mt-2">
        <div class="d-flex flex-column align-items-center justify-content-center">
            <button class=" mb-2 btn custom-btn">
                POPULAR RENTAL DEALS
            </button>
            <h5 class="mt-3">
                Most popular cars rental deals
            </h5>
        </div>
        <div class="mt-4">
            <app-search (searchChange)="onSearchTermChange($event)"></app-search>
        </div>
    
        <div class="d-flex flex-column align-items-center justify-content-center   ">
    
        <ng-container *ngIf="paginatedList">
            <div class="row mx-5 mt-5 w-100">
                <div *ngFor="let item of paginatedList | search:searchTerm" class="col-3  my-3 d-flex justify-content-center">
                    <app-card [car]="item"></app-card>
                </div>
            </div>
            
            <div class="d-flex align-items-center ">
                <button type="button" class="btn btn-secondary" (click)="showPrevious()">Previous</button>
                <span class="highlight-text font-700 mx-3 px-3 py-2">{{currentPage+1}}</span>
                <button type="button" class="btn btn-primary " (click)="showNext()">Next</button>
            </div>
        </ng-container>
    </div>
    
    </div>
</ng-container>
<ng-container *ngIf="paginatedList.length==0">
    <div class="container">
        <div class="row d-flex flex-column align-items-center justify-content-center my-auto vh-100 ">
            <h3 class="text-center my-3 highlight-text transparent-bg">
                No Cars Found!
            </h3>
            <img class="erro-img" src="../../assets/imgs/assignment-images/imges/not-found/404-not-found.png" alt="">
        </div>
    </div>

</ng-container>

