.container-fluid{
    background-image: url(../../assets/imgs/assignment-images/imges/landing-page/sec-5/Vector.png);
    background-position-x: left;
    background-size: 40%;
    background-repeat: no-repeat;
    height: 100vh;
}
.mx-negative{
    margin-left: -13px;
}
.img-w{
    width: 83%;
    height: auto;
}
.custom-btn{
    width: fit-content;
    height: fit-content;
    border-radius: 8px;
    padding: 8px 16px;
    background-color: #1572D31A;
    border: 1px solid #1572d31a;
    color: #0b5ed7;
}
.highlight-text{
    background-color: #1572D31A;
    border-radius: 4px;

}
.grey-text{
    color: #959595;
}